In [2]:
import pandas as pd

In [7]:
df1 = pd.DataFrame(
    {"id":[100, 102, 107],
     "math":[99, 100, 97],
     "english":[95, 92, 94]},
    index=[1,2,3]
)

In [9]:
df1

    id  math  english
1  100    99       95
2  102   100       92
3  107    97       94

In [18]:
df2 = pd.DataFrame(
    [
        [100, 99, 95],
        [102, 100, 92],
        [107, 97, 94],], 
    columns=["id","math","english"], index=[1,2,3]
    )

In [29]:
df3 = (
        pd.melt(df2)
           .rename(columns={'variable':'var', 'value':'val'})
           .query('val > 95')
)

In [30]:
df3

    var  val
0    id  100
1    id  102
2    id  107
3  math   99
4  math  100
5  math   97